<div class="contenidoFicha">

   <div class="marcoFicha"
       [routerLink]="['/info',ficha.id]">

       <img [src]="baseUrlImg+ficha.poster_path" [alt]="ficha.title">
           
   </div>

   <div class="titulo"
        [routerLink]="['/info',ficha.id]">

        <p>{{ ficha.title }}</p>

   </div>
   
   
   <div class="estrellaFav"
        (click)="guardarLocalStorage(ficha)"
        [ngClass]="{'activo': ficha.id === idFav ||activo || ficha.favCheck}">

        <i class="fa-solid fa-star"></i>
        
           
   </div>

</div> 
    







    






