<footer>
    <div class="flex-footer d-flex flex-wrap justify-content-evenly">

        <div class="nombre">
            <h3>Rubén Carrión | Desarrollador Web</h3>
        </div>

        <div class="redes">
            <ul class="d-flex flex-wrap justify-content-evenly">
                <li><a href="https://cnrubn.github.io/" target="_blank"><i class="fa-solid fa-id-card"></i> Portfolio</a></li>
                <li><a href="https://github.com/cnrubn" target="_blank"><i class="fa-brands fa-github"></i>  GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/rub%C3%A9n-carri%C3%B3n-n%C3%BA%C3%B1ez-364065113/" target="_blank"><i class="fa-brands fa-linkedin"></i>  Linkedin</a></li>
            </ul>
        </div>

    </div>
</footer>
        
    




